body {
    display: flex;
    width: 99%;
    height: 80vh;
    background-color: #262626;
    justify-content: center;
    align-items: center;
}
.ownership {
    text-align: center;
    color: mediumpurple;
    width: 100%;
    font-family: 'Roboto Mono', monospace;
}
.btn {
    border: 1px solid mediumpurple;
    background: none;
    padding: 10px 20px;
    font-size: 20px;
    font-family: 'Roboto Mono', monospace;
    cursor: pointer;
    margin: 10px;
    transition: 0.3s;
    position: relative;
}
.btn1 {
    color: mediumpurple
}