body {
    display: inline list-item;
    height: 80vh;
    background-color: #262626;
    justify-content: center;
    align-items: center;
}

.head {
    text-align: center;
    color: mediumpurple;
    width: 100%;
    font-family: 'Roboto Mono', monospace;
}

.head img {
    width: 100px;
    height: auto;
    margin-bottom: 10px;
}

.a {
    text-align: center;
    color: mediumpurple;
    width: 100%;
    font-family: 'Roboto Mono', monospace;
}

.btn {
    border: 1px solid mediumpurple;
    background: none;
    padding: 10px 20px;
    font-size: 20px;
    font-family: 'Roboto Mono', monospace;
    cursor: pointer;
    margin: 10px;
    transition: 0.3s;
    position: relative;
}

.btn1,.btn2,.btn3,.btn4{
    color: mediumpurple
}

.btn1:hover,.btn2:hover,.btn3:hover,.btn4:hover{
    color: gray;
}
/* this dumb shit below main 4 buttons*/
.container {
    max-width: 1200px;
    width: 95%;
    margin: 0 auto;
  }
  section.whitepaper {
    text-align: center;
    color: #6332a8;
  }
  section.whitepaper span.line {
    display: block;
    margin: 1rem auto;
    height: 2px;
    width: 200px;
    background: #5e4da0;
  }
  section.whitepaper a.btn {
    display: block;
    margin: 1rem auto;
    color: mediumpurple;
    text-decoration: none;
  }
  section.whitepaper .cards {
    margin-top: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    grid-gap: 20px;
  }
  section.whitepaper .cards .card {
    width: 400px;
    border-radius: 4px;
    padding: 1rem .9rem;
    background: #262626;
    -webkit-box-shadow: #9370db 0 10px 20px;
            box-shadow: #9370db 0 10px 20px;
    display: block;
  }
  section.whitepaper .cards .card h4 {
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 1rem;
    font-family: 'Roboto Mono', monospace;
    color: #6332a8;
  }
  section.whitepaper .cards .card p {
    text-align: left;
    letter-spacing: 0.2px;
    line-height: 1.2;
    font-family: 'Roboto Mono', monospace;
    font-size: 20px;
    color: mediumpurple;
  }

  @media only screen and (max-width: 450px) {
    section.about .text {
      font-size: 3vw;
    }
    section.about .features ul {
      text-align: center;
    }
    section.about .features ul li {
      font-size: 3vw;
    }
    section.about .features img {
      height: unset;
      min-height: unset;
      width: 75%;
    }
  }
