body {
    display: flex;
    width: 99%;
    height: 80vh;
    background-color: #262626;
    justify-content: center;
    align-items: center;
}

.head {
    text-align: center;
    color: mediumpurple;
    width: 100%;
    font-family: 'Roboto Mono', monospace;
}

.head img {
    width: 100px;
    height: auto;
    margin-bottom: 10px;
}

.a {
    text-align: center;
    color: mediumpurple;
    width: 100%;
    font-family: 'Roboto Mono', monospace;
}

.btn {
    border: 1px solid mediumpurple;
    background: none;
    padding: 10px 20px;
    font-size: 20px;
    font-family: 'Roboto Mono', monospace;
    cursor: pointer;
    margin: 10px;
    transition: 0.3s;
    position: relative;
}

.btn1,.btn2,.btn3,.btn4{
    color: mediumpurple
}

.btn1:hover,.btn2:hover,.btn3:hover,.btn4:hover{
    color: gray;
}